flows.json
[{"id":"7baacc93.8a9a24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93c544dc.cbfc98","type":"MySQLdatabase","name":"Base de datos","host":"127.0.0.1","port":"3306","db":"clima","tz":"GMT+0200","charset":"UTF8"},{"id":"dadb5684.b7994","type":"debug","z":"7baacc93.8a9a24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":60,"wires":[]},{"id":"e6f72b9d.5d2ea","type":"function","z":"7baacc93.8a9a24","name":"Comprobar Tiempo","func":"if(msg.payload.weather == \"Clear\")\n{\n    msg.payload =\"Hoy el dia esta despejado.\";\n    return msg;\n}\nelse if (msg.payload.weather == \"Rain\")\n{\n    msg.payload =\"Cuidado esta lloviendo.\";\n    return msg;\n} \nelse if(msg.payload.weather == \"Clouds\")\n{\n    msg.payload =\"Esta nublado.\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[["5c42290c.b8ace","cd93de7b.42c448"]]},{"id":"5c42290c.b8ace","type":"debug","z":"7baacc93.8a9a24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]},{"id":"cd93de7b.42c448","type":"e-mail","z":"7baacc93.8a9a24","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"rberber@inscamidemar.cat","dname":"Enviar Correo","x":920,"y":200,"wires":[]},{"id":"a78182b4.5fc78","type":"http in","z":"7baacc93.8a9a24","name":"Consultar tiempo","url":"/tiempo","method":"get","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["19552109.7c526f"]]},{"id":"19552109.7c526f","type":"function","z":"7baacc93.8a9a24","name":"","func":"msg.topic = \"SELECT * FROM tiempo\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":460,"wires":[["fb55a219.42b3e8"]]},{"id":"fb55a219.42b3e8","type":"mysql","z":"7baacc93.8a9a24","mydb":"93c544dc.cbfc98","name":"Base de datos","x":540,"y":420,"wires":[["a6219de2.f887c8"]]},{"id":"a6219de2.f887c8","type":"change","z":"7baacc93.8a9a24","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":520,"wires":[["5c71bef.5ac5dc","1a43fab3.d070f5"]]},{"id":"5c71bef.5ac5dc","type":"debug","z":"7baacc93.8a9a24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":620,"wires":[]},{"id":"1a43fab3.d070f5","type":"http response","z":"7baacc93.8a9a24","name":"","statusCode":"","headers":{},"x":700,"y":480,"wires":[]},{"id":"48d84296.855c9c","type":"function","z":"7baacc93.8a9a24","name":"","func":"\nvar fecha = new Date(Date.now());\nvar weather = msg.payload.weather;\nmsg.topic = \"INSERT INTO tiempo VALUES ('\"+fecha+\"', '\"+weather+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":280,"wires":[["fb55a219.42b3e8","60af386b.d8e43"]]},{"id":"60af386b.d8e43","type":"debug","z":"7baacc93.8a9a24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"166b8268.993ebe","type":"inject","z":"7baacc93.8a9a24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"20 16 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["2c14c0b4.fe74e"]]},{"id":"2c14c0b4.fe74e","type":"openweathermap","z":"7baacc93.8a9a24","name":"","wtype":"current","lon":"","lat":"","city":"El Vendrell","country":"Spain","language":"es","x":350,"y":140,"wires":[["48d84296.855c9c","e6f72b9d.5d2ea","dadb5684.b7994"]]}]